{% include 'header.html' %}

  <main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
      <div class="container">

        <ol>
          <li><a href="index.html">Home</a></li>
          <li>About Us</li>
        </ol>
        <h2>About Us</h2>

      </div>
    </section><!-- End Breadcrumbs -->

    <!-- ======= Portfolio Details Section ======= -->
    <section id="portfolio-details" class="portfolio-details">
      <div class="container">

        <div class="portfolio-details-container">

          <img src="static/assets/img/a-team.jpg" alt="" class="img-fluid">
          
        </div>

        <div class="portfolio-description">
          <h2>O organizacji</h2>
          <p>
            SzLUUG to Stowarzyszenie zarejestrowane w Szczecinie, zrzeszające profesjonalistów, hobbystów i sympatyków systemów z rodziny Unix i Linux oraz całego ruchu Wolnego i Otwartego Oprogramowania.
          </p>
          <p>
            Zajmuje się promowaniem systemów Linux i Unix wśród społeczności i firm Szczecina podczas spotkań i imprez branżowych. Spotkania członków stowarzyszenia pełnią rolę nie tylko edukacyjną, ale także socjalizującą.
          </p>
        </br>
          <h4>
            Nasze cele
          </h4>
          <ul>
            <li>
              promowanie systemów Linux i Unix wśród społeczności i firm Szczecina
            </li>
            <li>
              propagowanie idei otwartego oprogramowania
            </li>
          </ul>
        </div>

      </div>
    </section><!-- End Portfolio Details Section -->

  </main><!-- End #main -->

  {% include 'footer.html' %}  